<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.db.test.eclipse.extension.testcategory"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.db.test.eclipse.extension.testcategory"
            class="org.eclipse.db.test.eclipse.extension.wizards.newwizard.NewProjectWizard"
            icon="images/DatabaseProject.png"
            id="org.eclipse.db.test.eclipse.extension.sqltestwizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         id="SqlTestProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.db.test.eclipse.extension.natures.SqlTestProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="images/DatabaseProject.png"
            id="org.eclipse.db.test.eclipse.extension.projectimage"
            natureId="org.eclipse.db.test.eclipse.extension.SqlTestProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.db.test.eclipse.extension.perspectives.Perspective"
            icon="images/DatabaseProject.png"
            id="org.eclipse.db.test.eclipse.extension.sqlprojectperspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.db.test.eclipse.extension.sqlprojectperspective">
         <view
               id="org.eclipse.db.test.eclipse.sqlprojectview"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.db.test.eclipse.extension.view.category"
            class="org.eclipse.db.test.eclipse.extension.cnf.ProjectExplorerNavigator"
            icon="images/ServerProject.png"
            id="org.eclipse.db.test.eclipse.sqlprojectview"
            name="%view.name">
      </view>
      <category
            id="org.eclipse.db.test.eclipse.extension.view.category"
            name="%category.name.0">
      </category>
      <view
            category="org.eclipse.db.test.eclipse.extension.view.category"
            class="org.eclipse.db.test.eclipse.extension.run.RunTestView"
            id="org.eclipse.db.test.eclipse.extension.RunTestView"
            name="Run SQL Text"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.db.test.eclipse.sqlprojectview">
         <popupMenu
               allowsPlatformContributions="false"
               id="org.eclipse.db.test.eclipse.extension.popup">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.db.test.eclipse.sqlprojectview">
         <includes>
            <contentExtension
                  pattern="org.eclipse.db.test.eclipse.sqlnavigatorcontent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.db.test.eclipse.sqlprojectview">
         <includes>
            <actionExtension
                  pattern="org.eclipse.db.test.eclipse.extension.actions.*">
            </actionExtension>
         </includes>
         <excludes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </excludes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.db.test.eclipse.extension.cnf.ContentProvider"
            id="org.eclipse.db.test.eclipse.sqlnavigatorcontent"
            labelProvider="org.eclipse.db.test.eclipse.extension.cnf.LabelProvider"
            name="Sql test content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.db.test.eclipse.extension.project.ICustomProjectParent">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.db.test.eclipse.extension.cnf.misc.CategorySorter"
               id="org.eclipse.db.test.eclipse.extension.cnf.misc.CategorySorte">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.AddScriptCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddScriptCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptRootCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.RenameScriptCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.RenameScriptCategoryActionProvider">
         <enablement>
            <adapt
                  type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptCategory">
            </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.DeleteScriptCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteScriptCategoryActionProvider">
         <enablement>
            <adapt
                  type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptCategory">
            </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.AddScriptActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddScriptAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptItem">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptRootCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.DeleteScriptActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteScriptAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectScriptItem">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.DeleteComponentCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteComponentCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.RenameComponentCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.RenameComponentCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.AddComponentCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddComponentCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentRootCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <!-- Component -->
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.DeleteComponentActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteComponentAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentItem">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.AddComponentActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddComponentAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentRootCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectComponentItem">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <!-- TestCategory -->
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.DeleteTestCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteTestCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.RenameTestCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.RenameTestCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.AddTestCategoryActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddTestCategoryAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestRootCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestCategory">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <!-- Test -->
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.DeleteTestActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.DeleteTestAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestItem">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      
      <actionProvider
            class="org.eclipse.db.test.eclipse.extension.actions.providers.AddTestActionProvider"
            id="org.eclipse.db.test.eclipse.extension.actions.AddTestAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestRootCategory">
               </adapt>
               <adapt
                     type="org.eclipse.db.test.eclipse.extension.project.ProjectTestItem">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.db.test.eclipse.extension.preferences.SqlTestPreferencesPage"
            id="org.eclipse.db.test.eclipse.extension.serverpage"
            name="Настройки SQL тестов">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.db.test.eclipse.extension.editors.SqlScriptEditor"
            default="false"
            icon="images/script.png"
            id="org.eclipse.db.test.eclipse.extension.editors.sqlscripteditor"
            name="Sql Script Editor">
      </editor>
      <editor
            class="org.eclipse.db.test.eclipse.extension.editors.ComponentEditor"
            default="false"
            icon="images/component.png"
            id="org.eclipse.db.test.eclipse.extension.editors.ComponentEditor"
            name="Component Editor">
      </editor>
      <editor
            class="org.eclipse.db.test.eclipse.extension.editors.TestEditor"
            default="false"
            icon="images/test.png"
            id="org.eclipse.db.test.eclipse.extension.editors.testeditor"
            name="Test Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.db.test.eclipse.extension.handlers.OpenScriptEditorHandler"
            id="org.eclipse.db.test.eclipse.extension.commands.opensqlscripteditor"
            name="Open SQL Scrpt Editor">
      </command>
      <command
            defaultHandler="org.eclipse.db.test.eclipse.extension.handlers.OpenComponentHandler"
            id="org.eclipse.db.test.eclipse.extension.commands.opencomponenteditor"
            name="Open Component Editor">
      </command>
      <command
            defaultHandler="org.eclipse.db.test.eclipse.extension.handlers.OpenTestEditorHandler"
            id="org.eclipse.db.test.eclipse.extension.commands.opentesteditor"
            name="Open Test Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.db.test.eclipse.extension.handlers.RenameHandler"
            commandId="org.eclipse.db.test.eclipse.extension.commands.SampleCommand">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.db.test.eclipse.extension.ScriptDefinition">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.db.test.eclipse.extension.ScriptDefinition">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.db.test.eclipse.extension.ScriptDefinition">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   
   
</plugin>
